.card-wrapper.active {
  cursor: pointer;
}

.active:hover {
  transform: translate(0, -20px);
}

.card {
  width: 150px;
  height: 225px;
  border: 2px solid black;
  border-radius: 10px;
  text-align: center  ;
}

.card-blue {
  background-color: dodgerblue;
}

.card-red {
  background-color: red;
}

.card-yellow {
  background-color: yellow;
}

.card-green {
  background-color: green;
}

.closed-card {
  background-color: lightgray;
}

.empty-card {

}

.game-table-center {
  display: flex;
  column-gap: 75px;
  justify-content: center;
  margin: 50px 0;
}
.player-hand {
  display: flex;
  column-gap: 10px;
}
